<div id="fb-root"></div>
<div id="popup-chooser"></div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '129374057178540', // App ID
      //channelUrl : '//ngtv2.info/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true,  // parse XFBML
      //frictionlessRequests:true
    });
    
    // Additional initialization code here

    
    FB.getLoginStatus(function(response) {
     if (response.status === 'connected') {
       if (response.authResponse) {
           FB.api("/me", function(response) {
              //alert(response.email);
           });
       }

       var uid = response.authResponse.userID;
       var accessToken = response.authResponse.accessToken;
       
     } else if (response.status === 'not_authorized') {
       // the user is logged in to Facebook, 
       //but not connected to the app
     } else {
       // the user isn't even logged in to Facebook.
     }
     //if (response.status === 'connected') {
    });
    
	
    loadPopupChooser();

	FB.Event.subscribe('edge.create',
	    function(response) {
	        //alert('You like us an you are now enable to add 5 more images for FREE!!!');
	        $('.fb-like-form').find('.fb-like').val(1);
	        $('.fb-like-form').submit();
	        $('.sm-fb').slideUp();
	    }
	);
	
	// Function to handle the response
	var handleResponse = function(response) {
	   alert ('You liked the URL: ' + response);
	};
	
	FB.Event.unsubscribe('edge.create', handleResponse);
	
  }; //window.fbAsyncInit = function() {

  // Load the SDK Asynchronously
  //(function(d){
  //   var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  //   js = d.createElement('script'); js.id = id; js.async = true;
  //   js.src = "//connect.facebook.net/en_US/all.js";
  //   d.getElementsByTagName('head')[0].appendChild(js);
  // }(document));
   
	function loadPopupChooser(){
	  $('#popup-chooser').friendChooser({
	    max: 0, //max selected friends
	    min: 1,
	    returnData: "id", //data to return (id, name, all)
        onSubmit: function(users) {
          if(users.length) {
            var text; //= "You selected following friends: \n";
            //for(i in users) text += users[i].id + "\n";
            //var y=window.prompt("please enter your name", text);
            //text = "you just selected " + users.length + " friends";
            
		      //id of selected friends
		      var myFriends=users;
		      

	
              FB.ui({
                method: 'send',
                to: myFriends,                
                name: 'I have an awesome portfolio here http://kingpangi.ngtv2.info/',
                link: 'http://ngtv2.info/',
                picture: 'https://teststorage123.s3.amazonaws.com/uploads/image/carimage/410/thumb_snow_leopard.jpg',
                description: (
                  'A Web Application that allows you to shocase your designs in a professional way.' +
                  'Several themes that you can choose from and allows you to publish contenst on facebook and twitter.'
                )
                
              });
            
          } else {
            alert("No friends selected");
          }
        }
	  });
	}
</script>